body {
    margin: 0;
    background-image: url('rail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0,0,0,0.5);
    padding: 1rem;
    max-height: 50%;
}

.nav-left a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.nav-right li {
    margin-left: 1.5rem;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-right a:hover {
    text-decoration: underline;
}

.button a {
    background-color: #ff4b2b;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.button a:hover {
    background-color: #ff1c00;
}
.small-box{
    display: flex;
    align-items: center;
    background-color: transparent;
}
.container2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.5);
    box-shadow:0 4px 4px azure;
}
.fields {
    display: flex;
    align-items: center;
    gap: 20px;
}
.fields2 {
    display: flex;
    align-items: center;
    gap: 20px;
}
.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow:0 4px 4px azure;
    background-color: rgb(0,0,0,0.5);
}